@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-gradient-shadow1 {
    background: linear-gradient(153deg, rgba(0, 0, 0, 1) 20%, #2dfd34b3 80%);
    filter: blur(30px);
  }

  .custom-shadow1 {
    box-shadow: 5px 8px 8px 0px rgba(45, 253, 52, 0.25);
    -webkit-box-shadow: 5px 8px 8px 0px rgba(45, 253, 52, 0.25);
    -moz-box-shadow: 5px 8px 8px 0px rgba(45, 253, 52, 0.25);
  }

  .primary-color {
    color: #2dfd34;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: green;
}

::-webkit-slider-thumb {
  background-color: transparent;
}
